body{
    padding-top: 75px; /* corrige o problema do conteudo escondido com o menu fixed no topo*/
}

.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}

.icone{  /* alinha os icones que estavam desalinhados na index junto com outras propriedades da classe */
    height: 100px;
}

#home-quote{
    background: url('../img/bg-quote.jpg')center center;
    background-size: cover;
}

@media (max-width:767px){ /* alterando o tamanho da fonte do blockquote quando diminuir a tela */
    #home-quote .display-4{
        font-size: 2.5em;
    }
    
    /* retirando o header fixo quando diminuir a tela*/
    body{    
        padding-top: 0px;
    }
    .fixed-top{
        position: relative;
    }
    
    
}

/* PLANOS */
.lista-plano li + li{
    border-top: 1px solid rgba(0,0,0,0.2);
}

.lista-plano li{
    padding: 1rem;
    
}

/* footer */
.btn-footer  li a{
    max-width: 140px;
}